@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@keyframes spotlightMoveLeft {
  0% {
    transform: translate(-50%, -70%) rotate(-130deg);
    opacity: 0;
  }
  50% {
    transform: translate(-50%, -50%) rotate(-130deg);
    opacity: 0.8;
  }
  100% {
    transform: translate(-50%, -30%) rotate(-130deg);
    opacity: 0.6;
  }
}

.animate-spotlight-left {
  animation: spotlightMoveLeft 2s ease-in-out forwards;
}

/* Hover Logic */
.hover-trigger:hover + .hover-target {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

/* Bottom Button Hidden State */
.hover-target {
  transform: translateY(-10px);
}

/* Custom styling for prev/next buttons */
.slick-prev, .slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  z-index: 10;
}

.slick-prev {
  left: 10px;  /* Position prev button on the left */
}

.slick-next {
  right: 10px;  /* Position next button on the right */
}

.slick-prev:hover, .slick-next:hover {
  background-color: rgba(0, 0, 0, 0.7); /* Hover effect */
}


/* flip effect */
.flip-container {
  perspective: 1000px; /* Creates a 3D effect for the flip */
}

.flip-image {
  transition: transform 0.6s ease;
  transform-style: preserve-3d;
}

.flip-container:hover .flip-image {
  transform: rotateY(180deg); /* Flips the image on hover */
}

.animated-icon {
  animation: scaleUpDown 3s ease-in-out infinite;
}
