@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@keyframes spotlightMoveLeft {
  0% {
    transform: translate(-50%, -70%) rotate(-130deg);
    opacity: 0;
  }
  50% {
    transform: translate(-50%, -50%) rotate(-130deg);
    opacity: 0.8;
  }
  100% {
    transform: translate(-50%, -30%) rotate(-130deg);
    opacity: 0.6;
  }
}

.animate-spotlight-left {
  animation: spotlightMoveLeft 2s ease-in-out forwards;
}

/* Hover Logic */
.hover-trigger:hover + .hover-target {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

/* Bottom Button Hidden State */
.hover-target {
  transform: translateY(-10px);
}
